- if current_user.present?
  = render '/shared/tabs'
  - css_class_name = 'wrap-sm'
- else
  - css_class_name = 'infos'

div class="#{css_class_name}"
  .infos-title: h2 How It Works

  .infos-content
    p To use Toadlane, you must first <a href="https://www.toadlane.com/users/sign_up">sign up</a> for the site. Make sure you include everything you buy and sell so we know what notifications to send you.
	p Wait for a registration confirmation email in your inbox, it is strongly suggested you get your <a href="https://www.toadlane.com/dashboard/accounts">account</a> verified by submitting your business information in your accounts section (we use blockchain encryption to protect your information) then you're ready to start taking advantage of the features that Toadlane offers.
	h2 For Sellers
	p Get your <a href="https://www.toadlane.com/dashboard/accounts">account</a> verified leveraging our blockchain encryption. Sellers on Toadlane come from a wide range of backgrounds. They can be manufacturers, distributors, agents, liquidators, globally recognized depots and more. List your items for sale. Make sure to use our user generated product tags. Wait for an order from buyers, then meet the buyer's terms (or await inspection). Once terms have been met, payment will be released -- and you can deliver the ordered items to the buyer.
	h2 For Buyers
	p Get your <a href="https://www.toadlane.com/dashboard/accounts">account</a> verified leveraging our blockchain encryption so you are able to order. Search for the goods you want to purchase, then choose the way you want to buy : <a href="https://www.toadlane.com/fly">Fly & Buy</a> or <a href="https://www.toadlane.com/pay">Same Day Pay</a>. Toadlane recommends that buyers use <a href="https://www.toadlane.com/fly">Fly & Buy</a> for larger transactions, while <a href="https://www.toadlane.com/pay">Same Day Pay</a> is a good choice for smaller purchases that do not require travel but still need a level of safety and verification.
