@import url(//fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

@font-face {
  font-family: 'Segoe';
  src: url('segoe_script/ss.eot');
  src: url('segoe_script/ss.eot?#iefix') format('embedded-opentype'),
       url('segoe_script/ss.woff') format('woff'),
       url('segoe_script/ss.ttf') format('truetype'),
       url('segoe_script/ss.svg#segoe_script') format('svg');
  font-weight: normal;
  font-style: normal;
}
