$wrap-width-default: 1220px;
$wrap-width-small: 1080px;

$footer-height: 55px;
$background-color: #f2f2f2;
$color-chestnut-rose: #cc5757;
$color-curious-blue: #2987D8;
$color-grey: #cccfd3;
$color-soft-black: #484A4A;
$color-black: #000;
$color-white: #fff;
$color-light-blue: #bec4ce;
$color-ash-grey: #919396;
