.view-product {
  .request-show-block{
    h1 {
      font-size: 22px;
    }
    h2 {
      font-size: 19px;
    }
    .col-md-7 {
      padding-right: 0px;
    }
    .request-name{
      padding: 25px 0 0 15px;

      h3 {
        font-size: 14px;
        color: #cccfd3;
        padding-top: 7px
      }

      a {
        color:#ff8724;
      }
    }
    .white-panel {
      padding: 25px 15px 15px 0;
    }
    .request-info {
      padding-top:15px;
    }

    .place-offer {
      position: relative;
      top: 110px;
      text-align: center;
    }
  }

  .offers {
    h1 {
      font-size: 22px;
    }
    .green_border {
      padding:5px
    }
    .col-md-6 {
      padding: 15px 0 0 15px;
    }
    img {
      border-radius: 5px;
      float: left;
      height: 90px;
      padding: 5px;
    }
    .pull-left.seller-img {
      padding-right: 5px;
      width: 21%;
      min-width: 100px;
    }

    .pull-left.seller-info {
      width: 37%;
      margin-bottom: 10px;
    }
    .place-order {
      bottom: 13px;
      position: absolute;
      right: 10px;
    }
    .offer-info {
      .amount-price {
        min-width: 200px;
      }
    }
  }

  .flag-icon {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em;
  }
  .flag-icon-us {
    background-image: url('us_flag.svg');
  }
}