= @seller.name
| &nbsp; has resquested to set the inspection date to
= @armor_order.inspection_date_by_buyer
br
= link_to "Click Here To Go To Product's Page", product_url(id: @product.id, armor_order_id: @armor_order.id)
