.thread_header{
  font-size: 20px;
  margin-top: 20px;
}
.thread_actions{
  margin-top: 6px;
}
.comment{
  font-size: 14px;
}
.comment_commontator{
  font-size: 16px;
  font-weight: bold;
}
.comment_timestamp{
  font-style: italic;
  font-size: 12px;
}
.comment_avatar img{
  width: 75px;
}