default: &defaults
  user: vzl
  password: password
  adapter: postgresql
  host: localhost
  min_messages: WARNING

development:
  <<: *defaults
  database: toad_development

test:
  <<: *defaults
  database: toad_test

production:
  <<: *defaults
  database: toad_production

staging:
  <<: *defaults
  database: toad_staging
