/ a.html5lightbox.btn.btn-primary data-height="600" data-width="730" href="#{armor_order.uri}" Payment Details
script src=get_script_src type="text/javascript"
button.btn.btn-primary onClick="armor.openModal('#{armor_order.uri}')" Payment Details
