@media (max-width: 1900px) and (min-width: 1281px) {
  #invitePplList {
    margin-top: 13.89% !important;
  }

  .InvitePpl {
    .topArrowIcon {
      margin-left: -43.7% !important;
    }
  }

  #logOutOptionsList {
    margin-left: 62% !important;
    margin-top: 13.8% !important;
  }

  .logOutOptions {
    .logOutTopArrowIcon {
      margin-left: -30.3% !important;
    }
  }
  .btn-signin{
    display: none;
  }
}