.ui-selectmenu-menu {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  font-family: 'PT Sans Narrow', sans-serif;
  z-index: 100;

  .ui-menu {
    list-style: none;
    margin: 0;
    padding: 5px;
    overflow-x: hidden;
    padding-bottom: 1px;
    background: white;
    @include box-shadow(0 3px 10px rgba(0,0,0,.5));
  }

  .ui-menu-item {
    color: #3b3e42;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 7px;

    &:before {
      font-size: 14px;
      vertical-align: top;
      line-height: 1;
      padding-top: 9px;
      padding-right: 4px;
      display: inline-block;
      @extend .fa;
      @extend .fa-caret-right;
    }

    &:hover {
      color: #5c8f10;
      cursor: pointer;
    }
  }

  .ui-selectmenu-optgroup {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5;
    padding: 2px 0.4em;
    margin: 0.5em 0 0 0;
    height: auto;
    border: 0;
  }

  .dd-small-list {
    padding: 2px;

    .ui-menu-item {
      font-size: 16px;
      margin: 3px 0;

      &:before {
        font-size: 12px;
        padding-top: 4px;
      }
    }
  }
}

.ui-selectmenu-open {
  display: block;
}

.ui-selectmenu-button {
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  padding: 0 7px;

  &.ui-corner-top {
    background: white;
    z-index: 102;
  }

  span {
    &.ui-icon {
      float: right;
      @extend .fa;
      @extend .fa-angle-down;
    }

    &.ui-selectmenu-text {
      text-align: left;
      display: block;
      line-height: 1.4;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
