.devise {
  width: 400px;
  padding: 30px 30px 25px;
  border-radius: 5px;
  background: rgba(255,255,255,.8);
  margin-top: 80px;
  margin-bottom: 70px;

  .icheckbox {
    margin-top: 0;
    margin-right: 5px;
    float: left;
  }
}
