.checkout-payment-gateway{
  margin-bottom: 30px;
  .tab-content{
    padding: 15px;
    background: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
}

.modal#modal_order_place_now_what{
	.modal-header{
		height: 45px;
	}
	.modal-body{
		ol li{
			margin-bottom: 10px;
		}
	}
}

a.order-placed-now-what{
	font-size: 16px;
}
