.checkout-payment-gateway{
  margin-bottom: 30px;
  .tab-content{
    padding: 15px;
    background: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
}
