.buy-sell {
  height: 280px;
  text-align: center;
  background: white image-url('buy-sell.png') 50% 50% no-repeat;

  h2 {
    line-height: 1;
    font-size: 76px;
    font-weight: 800;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #3b3e42;
    text-transform: uppercase;
    display: block;
    border-bottom: 4px solid #5c8f10;
    margin-bottom: 13px;
  }

  p {
    color: #90959c;
    margin: 0 0 15px;
    line-height: 1.2;
  }

  .wrap div {
    width: 300px;
    margin-top: 28px;

    &:first-child {
      margin-left: 130px;
    }

    &:last-child {
      margin-right: 130px;
    }
  }
}

.try-out {
  text-align: center;
  margin: 25px 0 30px;

  p {
    color: #3b3e42;
    font-size: 24px;
    font-weight: bold;
  }

  .btn {
    text-transform: uppercase;
  }
}

.few {
  height: 155px;
  background: white;
  text-align: center;
  padding-top: 27px;

  span {
    color: #cccfd3;
    font-size: 28px;
    font-weight: bold;
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
  }

  .brands-logo {
    padding-top: 19px;
  }

  img {
    margin: 0 10px;
    height: 66px;
    @include filter(grayscale(100%));

    &:hover {
      @include filter(grayscale(0));
    }
  }
}

.main-notice {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  background: $brand-success;
  color: white;
  font-size: 20px;
  padding: 15px 25px;
  text-align: center;
  box-shadow: 0 0 15px $brand-success;
  @include animation-name(notice);
  @include animation-duration(3s);
  @include animation-delay(3s);
}
