$product-width: 240px;
$product-height: 400px;
$product-offset: 6px;
$product-carousel-height: $product-height + 54px;
$buy-color: #5c8f10;
$sell-color: #FF8724;

.products {
  margin: 20px -30px -12px;
  float: left;
}

.orange_border{
  border: 3px solid $sell-color !important;
}
.green_border{
  border: 3px solid $buy-color !important;
}

.product {
  float: left;
  width: $product-width;
  height: $product-height;
  margin: 20px;
  padding: $product-offset;
  position: relative;
  background: white;
  line-height: 1;
  @include transition(box-shadow .3s);

  .img {
    display: block;
    margin: (-$product-offset) (-$product-offset) 8px (-$product-offset);
    height: 224px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .price {
    position: absolute;
    top: $product-offset;
    right: $product-offset;
  }

  .show-time {
    position: absolute;
    top: $product-offset*1.5;
    left: $product-offset*1.5;
    color: white;
    text-shadow: 1px 2px 3px rgba(0,0,0,.6);
    z-index: 6;
  }

  .time-left {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 225px;
    z-index: 5;
    background: rgba(0,0,0,.7);
    padding-top: 40px;
    @include opacity(0);
    @include transition(opacity .2s);
	
	.buy{
	  color: $buy-color;
	}
	
	.sell{
	  color: $sell-color;
	}
  }
  
  .btn {
    margin-top: 15px;
  }

  .name {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 2px;
    @include text-overflow;

    a {
      color: black;
    }
  }

  .desc {
    margin: 0;
    font-size: 14px;
    color: #90959c;
    @include transition(color .3s);
  }

  .lbl {
    font-size: 12px;
    color: #cccfd3;
    text-transform: uppercase;
  }

  .quantity {
    position: absolute;
    top: 305px;
    left: $product-offset;
    right: $product-offset;

    .lbl {
      margin-bottom: 11px;
    }

    .rates {
      margin-left: 4px;
      margin-right: 4px;
    }

    .min,
    .medium,
    .max {
      position: absolute;
      top: 100%;
      font-size: 12px;
      color: black;
      padding-top: 7px;
    }

    .min {
      left: -2px;
    }

    .medium {
      width: 100%;
      text-align: center;
    }

    .max {
      right: -2px;
    }
  }

  .cost {
    position: absolute;
    left: 6px;
    bottom: 6px;

    span {
      font-weight: 800;
      font-size: 16px;
      color: $buy-color;
    }

    .lbl {
      padding-bottom: 3px;
    }
  }

  .you_save {
    position: absolute;
    left: 130px;
    bottom: 6px;

    span {
      font-weight: 800;
      font-size: 16px;
      color: #3b3e42;
    }

    .lbl {
      padding-bottom: 3px;
    }
  }

  &:hover {
    @include box-shadow(0 0 5px rgba(0,0,0,.3));

    .desc {
      color: black;
    }

    .time-left {
      @include opacity(1);
    }
  }
}

.product-list {
  float: left;
  width: 100%;
  padding: 5px 5px 5px;
  border-top: 1px solid #ddd;
  line-height: 1;
  @include transition(background .2s);
  @include clearfix;

  &:first-child {
    border-top: none;
  }

  &:hover {
    background: white;
  }

  .products & {
    position: relative;
    margin: 0 20px 10px;
    width: $wrap-width-small;
  }

  .name {
    margin-top: 6px;
    font-size: 18px;
    margin-right: 10px;
  }

  .price {
    margin-left: 20px;
  }

  .desc {
    font-size: 12px;
    padding-top: 10px;
    @include text-overflow;
  }
}

.carousel-product-title {
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  font-family: 'PT Sans Narrow', sans-serif;
  padding-top: 20px;
  position: relative;

  h2, h3 {
    vertical-align: middle;
    color: #3b3e42;
    display: inline-block;
  }	

  h2 {
    font-size: 48px;

    &:after {
      content: '';
      border-left: 4px solid $buy-color;
      float: right;
      height: 53px;
      margin: 0 0 0 15px;
    }
  }

  h3 {
    font-size: 28px;
    border-bottom: 4px solid $buy-color;
  }

  .ui-selectmenu-button {
    vertical-align: middle;
    color: #cccfd3;
    font-size: 28px;
    margin-left: 10px;
    white-space: nowrap;
    width: auto !important;
  }

  .ui-icon {
    float: right;
    margin-left: 7px;
    color: #3b3e42;
    padding-top: 5px;
  }

  .actions {
    position: absolute;
    top: 22px;
    right: 60px;

    .btn {
      margin-left: 10px;
    }

    .ui-selectmenu-button {
      font-size: 16px;
      margin-top: 8px;
      padding-bottom: 4px;

      &:before {
        content: '';
        position: absolute;
        left: 7px;
        right: 7px;
        bottom: 0;
        border-bottom: 4px solid $buy-color;
      }
    }

    .ui-icon {
      padding-top: 2px;
    }
  }
}

.carousel-product-title-sell {
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  font-family: 'PT Sans Narrow', sans-serif;
  padding-top: 20px;
  position: relative;

  h2, h3 {
    vertical-align: middle;
    color: #3b3e42;
    display: inline-block;
  } 

  h2 {
    font-size: 48px;

    &:after {
      content: '';
      border-left: 4px solid sell-color;
      float: right;
      height: 53px;
      margin: 0 0 0 15px;
    }
  }

  h3 {
    font-size: 28px;
    border-bottom: 4px solid $sell-color;
  }

  .ui-selectmenu-button {
    vertical-align: middle;
    color: #cccfd3;
    font-size: 28px;
    margin-left: 10px;
    white-space: nowrap;
    width: auto !important;
  }

  .ui-icon {
    float: right;
    margin-left: 7px;
    color: #3b3e42;
    padding-top: 5px;
  }

  .actions {
    position: absolute;
    top: 22px;
    right: 60px;

    .btn {
      margin-left: 10px;
    }

    .ui-selectmenu-button {
      font-size: 16px;
      margin-top: 8px;
      padding-bottom: 4px;

      &:before {
        content: '';
        position: absolute;
        left: 7px;
        right: 7px;
        bottom: 0;
        border-bottom: 4px solid $sell-color;
      }
    }

    .ui-icon {
      padding-top: 2px;
    }
  }
}

.product-carousel {
  &.carousel{
    height: auto;
    padding-bottom: 30px;    
  }
  .carousel-inner {
    height: auto;
    width: auto;
    margin: 0 56px;
    padding: 0 4px;
    position: relative;

    &.bottom-line:after {
      content: '';
      position: absolute;
      left: 4px;
      right: 4px;
      bottom: 0;
      border-bottom: 4px solid #cccfd3;
    }

    & > .item {
      margin: 0 -20px;
      height: auto;
    }
  }
  
  .product {
    margin: 20px 20px 0;
  }
}

.product-form {
  h4 {
    line-height: 1;
    font-size: 20px;
    color: #cccfd3;
    text-transform: uppercase;
    margin-bottom: 30px;
    padding-top: 5px;
  }

  table {
    width: 100%;
  }

  td {
    width: 50%;
    vertical-align: top;

    &:first-child {
      padding-right: 30px;
    }

    &:last-child {
      padding-left: 30px;
    }
  }

  label {
    display: block;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 3px;

    &.lg {
      font-size: 14px;
      padding-bottom: 4px;
    }
  }

  > .btn {
    margin-left: 10px;
  }

  .unit {
    float: left;
    width: 100%;
    margin: 0 20px 22px 0;
    
    input {
      width: 100px;
    }
  }

  .tax {
    float: left;
    width: 120px;
  }

  .status_action {
    width: 120px;
    float: left;
    margin: 0 20px 22px 0;
  }

  .status {
    float: left;
    margin: 0 20px 22px 0;

    .checkbox {
      float: left;
      padding: 8px 6px;
      background: $buy-color;
      border-radius: 5px;
      color: white;
      font-size: 16px;
      height: 30px;
      text-transform: uppercase;

      label {
        line-height: 1.2;
        font-size: 14px;
        font-weight: 400 !important;

        .win & {
          line-height: 1.1;
        }
      }
    }

    .icheckbox {
      margin: -3px 5px 0px 0;

      .win {
        margin-top: -4px;
      }
    }
  }

  .photo-ex {
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    padding: 3px 0 0 10px;
  }

  .btn-upload {
    position: relative;
    overflow: hidden;

    input {
      position: absolute;
      left: -10px;
      top: -10px;
      font-size: 50px;
      z-index: 0;
      @include opacity(0);
    }
  }

  .pricebreaks {
    list-style: none;
    padding: 0;
    margin: 0 0 -29px -3%;
    display: block;
    @include clearfix;

    li {
      border-width: 1px;
      border-style: dashed;
      border-radius: 5px;
      margin-bottom: 29px;
      margin-left: 3%;
      width: 30.3333%;
      height: 96px;
      float: left;
    }
  }

  .pricebreak {
    border-color: #cccfd3;
    background: white;
    padding-top: 16px;

    .index {
      float: left;
      font-size: 22px;
      font-weight: 800;
      margin: 21px 15px 0;

      &::before {
        content: '#';
      }
    }

    .form-group {
      float: left;
      width: 90px;
      margin: 0 20px 0 0;

      label {
        margin: 0;
      }
    }

    .btn {
      float: left;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 17px;
    }

    .fa {
      margin-right: 0;
    }
  }

  .add-pricebreak {
    border-color: $buy-color;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    padding-top: 40px;
    cursor: pointer;

    .fa {
      color: $buy-color;
    }
  }
  
  .estimates {
    list-style: none;
    padding: 0;
    margin: 0 0 -29px -3%;
    display: block;
    @include clearfix;

    li {
      border-width: 1px;
      border-style: dashed;
      border-radius: 5px;
      margin-bottom: 29px;
      margin-left: 3%;
      width: 100%;
      height: 96px;
      float: left;
    }
  }

  .estimate {
    border-color: #cccfd3;
    background: white;
    padding-top: 16px;

    .index {
      float: left;
      font-size: 22px;
      font-weight: 800;
      margin: 21px 15px 0;

      &::before {
        content: '#';
      }
    }

    .estimate-type {
      float: left;
      width: 9%;
      margin: 0 20px 0 0;

      label {
        margin: 0;
      }
    }

    .estimate-cost {
      float: left;
      width: 6%;
      margin: 0 20px 0 0;

      label {
        margin: 0;
      }
    }
    
    .estimate-description {
      float: left;
      width: 70%;
      margin: 0 20px 0 0;
      
      label {
        margin: 0;
      }
    }

    .btn {
      float: left;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 17px;
    }

    .fa {
      margin-right: 0;
    }
  }
  
  .estimate-delete {
    border-color: #cccfd3;
    background: $sell-color;
    padding-top: 16px;

    .index {
      float: left;
      font-size: 22px;
      font-weight: 800;
      margin: 21px 15px 0;

      &::before {
        content: '#';
      }
    }

    .estimate-cost {
      float: left;
      width: 9%;
      margin: 0 20px 0 0;

      label {
        margin: 0;
      }
    }
    
    .estimate-description {
      float: left;
      width: 75%;
      margin: 0 20px 0 0;
      
      label {
        margin: 0;
      }
    }

    .btn {
      float: left;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 17px;
    }

    .fa {
      margin-right: 0;
    }
  }

  .add-estimate {
    text-align: center;
    text-transform: uppercase;
    padding-top: 40px;
    cursor: pointer;

    .fa {
      color: $buy-color;
    }
  }

  .amount-soldout {
    float: left;
    margin: 13px 20px 30px 0;

    > div {
      display: inline;
    }

    label {
      float: left;
      margin-top: 9px;
    }

    .form-control {
      float: left;
      margin-left: 10px;
      width: 100px;
    }
  }

  .dimensions {
    margin-bottom: 20px;
    clear: both;

    > label {
      float: left;
      margin-top: 25px;
    }
  }

  .dimensions-fields {
    overflow: hidden;

    > div {
      float: left;
      width: 25%;
      padding-left: 20px;
    }
  }
}

.product-form-photos {
  background: white;
  border-radius: 4px;
  border: 1px dashed #cccfd3;
  padding: 8px;
  margin-bottom: 10px;
  width: 498px;
  @include clearfix;

  a {
    color: #4a505b;
    font-size: 12px;
    cursor: pointer;

    &:hover {
      color: #b90012;
    }
  }

  .item {
    float: left;
    margin: 5px;
    width: 110px;
    height: 110px;
  }

  .photo {
    display: block;
  }

  .select {
    display: none;
  }

  .new {
    background-color: transparent;
    position: relative;
    border: 1px dashed #eee;
    border-radius: 4px;
    overflow: hidden;
    @include transition(background .2s);

    &:before {
      @extend .fa;
      @extend .fa-plus;
      font-size: 26px;
      color: #cccfd3;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 5px;
      margin: auto;
      width: 20px;
      height: 24px;
    }

    span {
      position: absolute;
      bottom: 5px;
      left: 0;
      right: 0;
      text-align: center;
      color: #cccfd3;
      font-size: 12px;
    }

    input {
      position: absolute;
      top: -5px;
      left: -5px;
      font-size: 150px;
      cursor: pointer;
      @include opacity(0);
    }

    .photo {
      display: none;
    }

    .select {
      display: block;
    }

    &:hover {
      background-color: #f8f8f8;
    }
  }

  .icheckbox {
    display: none;
  }

  .image-tag {
    width: 110px;
    height: 95px;
    border: 1px solid #cccfd3;
    position: relative;
    background-position: 50% 30%;
    @include background-size(cover);
  }
}

.offer-item {
  @include clearfix;

  &:first-child {
    margin-bottom: 20px;
  }

  > label {
    width: 145px;
    float: left;
    margin-top: 26px;
  }

  > div {
    float: left;

    label {
      display: block;
    }
  }

  .selectize-input {
    padding-right: 20px;
  }

  .offer-date {
    margin-right: 20px;
    width: 220px;

    .selectize-control {
      float: left;

      &:nth-child(3) {
        width: 50px;
        margin-right: 5px;
      }

      &:nth-child(5) {
        width: 96px;
        margin-right: 5px;
      }

      &:nth-child(7) {
        width: 64px;
      }
    }
  }

  .offer-time {
    .selectize-control {
      display: inline-block;
      vertical-align: middle;

      &:nth-child(3) {
        width: 50px;
      }

      &:nth-child(5) {
        width: 50px;
      }
    }
  }

  .field {
    overflow: hidden;
  }

  .form-control {
    text-align: center;
    display: inline-block;
    width: auto;
  }
}

.table-history {
  width: 100%;
  font-size: 14px;

  td {
    border-top: 1px solid #ccc;
    padding: 15px 0;
  }

  tr {
    &:first-child td {
      border: none;
      padding-top: 0;
    }

    &:last-child td {
      padding-bottom: 0;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    div {
      display: inline-block;
      margin-right: 7px;

      &::first-letter {
        text-transform: uppercase;
      }
    }

    &::before {
      content: '- ';
    }
  }

  .event {
  }

  .action b {
    font-weight: 800;
    text-transform: uppercase;
  }

  .time {
    color: #555;
  }
}
