$checkbox-bg-color: white;
$checkbox-bd-color: #aeb5c1;

.icheckbox,
.iradio {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  background: $checkbox-bg-color image-url('checkbox.png') -100px 50% no-repeat;
  border: 1px solid $checkbox-bd-color;
  cursor: pointer;
  @include background-size(12px 12px);
  @include transition(border .2s);
}

.icheckbox {
  border-radius: 3px;

  &.hover {
    border-color: $checkbox-bd-color / 1.5;
  }

  &.checked {
    background-position: 2px 2px;
  }

  &.disabled {
    background-color: $checkbox-bg-color / 1.13;
    border-color: $checkbox-bd-color * 1.13;
    cursor: default;
  }
}

.iradio {
  border-radius: 100%;

  &.hover {
    background-position: -120px 0;
  }

  &.checked {
    background-position: -140px 0;
  }

  &.disabled {
    background-position: -160px 0;
    cursor: default;
  }

  &.checked.disabled {
    background-position: -180px 0;
  }
}

@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  .icheckbox,
  .iradio {
    background-image: image-url('checkbox@2x.png');
  }
}
