.devise {
  max-width: 400px;
  padding: 30px 30px 25px;
  border-radius: 5px;
  margin:0px auto 20px;
  top:45px;

  h2{
    margin-bottom: 20px;
  }

  .icheckbox {
    margin-top: 0;
    margin-right: 5px;
    float: left;
  }

  div h2 {
    font-size: 16px;
    color: red;
    margin-top: -5px;
  }

  ul {
    list-style: none;
    margin: 0 0 15px;
    padding: 0;
  }

  li {
    color: red;
    font-size: 14px;

    &:before {
      content: '- ';
    }
  }

  .btn-signup{
    float: left;
  }
  .btn-signin{
    float: left;
    margin: 6px 0 0 21px;
  }
}
