.footer-actions {
  height: 120px;
  padding: 10px 0 0;

  .btn {
    &.pull-left + .btn.pull-left {
      margin-left: 10px;
    }

    &.pull-right + .btn.pull-right {
      margin-right: 10px;
    }
  }
}
