// Header navigation, user area, logo

.header {
  background: white;
  height: 95px;

  .wrap {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .logo {
    position: absolute;
    width: 230px;
    height: 122px;
    top: 10px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
  }
}

.header-nav {
  list-style: none;
  margin: 0;
  padding: 5px 0 0;

  li {
    float: left;
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }
  }

  a {
    color: black;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 3px;
    border-bottom: 3px solid #cccfd3;
    @include transition(border .3s);

    &.active,
    &:hover {
      border-bottom-color: #5c8f10;
    }
  }
}

.header-user {
  white-space: nowrap;
  text-align: right;

  .btn {
    text-transform: uppercase;
    margin-left: 10px;
  }

  .want-sell-buy {
    position: relative;
    color: #ff8724;
    float: left;
    text-align: center;
    padding-right: 20px;
    margin-right: 10px;
    line-height: 1;
    font-size: 18px;
    font-family: 'Segoe', sans-serif;

    &:before {
      content: '';
      width: 79px;
      height: 29px;
      position: absolute;
      top: 90%;
      right: -20px;
      background: image-url('user-header-arrow.png');
    }
  }
}
