.main-container{
  margin-top: 60px;
}

.wrap {
  max-width: $wrap-width-default;
  padding: 0 15px;
  @include clearfix;
}

.wrap-sm {
  float:right;
  width:85%;
  padding-top:30px;
  position: relative;
  @extend .wrap;

  h4 {
    line-height: 1;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 15px
  }
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-green {
  color: #5c8f10;
}

.text-red {
  color: #b90012;
}

.text-orange {
  color: #ff8724;
}

.fly-buy-container{
  top: 40px;
}

.hide {
  display: none;
}
