.link {  
  color: #2a7ed5;
  text-decoration: none;
  font-size: 14px;
  @include transition(color .2s);

  &:hover {
    text-decoration: underline;
  }
}

.link-ulined {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.link-error {
  color: #b90012;
}

.link-sm {
  font-size: 12px;
}

.link-lg {
  font-size: 16px;
}
