.navbar-default .navbar-toggle{
  border-color: #2C2E30;
  border-radius: 0;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: #2C2E30;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  padding-left: 0;
  padding-right: 0;
}
.table-options .pull-right .btn.btn-success{
  margin-top: 10px;
}
@media (min-width: 992px){
  .modal-lg {
    width: auto;
  }
}
@media (max-width:1200px) {
  /* some think */
}

@media (max-width:1080px) {
  .search-result{
    .products{
      margin-left: -15px;
      margin-right: -15px;
      float: none;
      .product-list{
        margin-left: 15px;
        margin-right: 15px;
        float: none;
        width: auto;
      }
    }
  }
}

@media (max-width:992px) {
  .buy-sell .wrap div:first-child, .buy-sell .wrap-sm div:first-child{
    margin-left: 2.5%;
  }
  .buy-sell .wrap div:last-child, .buy-sell .wrap-sm div:last-child{
    margin-right: 2.5%;
  }
  .fe-search{
    width: 100%;
  }
  .carousel-product-title{
    text-align: left;
  }
  .carousel-product-title .actions{
    right: 0;
  }
  .profile-image-container{
    margin-left: auto;
    margin-right: auto;
  }
  .md-mid{
    text-align: center;
  }
  .bx-wrapper{
    margin-left: 30px !important;
    margin-right: 30px !important;
  }
}
@media (max-width:767px) {
  body{
    padding-bottom: 0;
  }
  .navbar-toggle{
    margin: 0;
  }
  .header{
    height: auto;
    .wrap, .wrap-sm{
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .logo{
      width: 150px;
      height: auto;
      margin-left: 0;
      top: 0;
      img{
        width: 100%;
      }
    }
  }
  .navbar-default .navbar-collapse{
    position: absolute;
    top: 54px;
    z-index: 1000;
    background: #f5f5f5;
    width: 100%;
    left: 0;
    padding: 0;
  }
  .header-nav.pull-left{
    float: right !important;
  }
  .header-user{
    width: 100%;
    margin: 20px 0;
    a.btn {
      width: 45%;
      margin: 2%;
    }
  }
  .admin_dashboard {
    .header-user{
      margin-bottom: 0;
    }
    .header .header-nav{
      float: none !important;
      display: inline-block;
      clear: both;
      margin: 0 10px 5px;
    }
  }
  .buy-sell .wrap div, .buy-sell .wrap-sm div{
    width: 90%;
    margin: 7% 5% !important;
  }
  .buy-sell{
    background-image: image-url('buy-sell-horizontal.png');
  }
  .few img{
    margin-bottom: 10px;
  }
  .footer{
    position: relative;
    .pull-left, .pull-right{
      float: none !important;
      text-align: center;
    }
    .header-nav li{
      float: none;
      display: inline-block;
    }
    .logo{
      position: static;
      display: block;
      margin: 10px auto;
    }
    .copy{
      text-align: center;
    }
  }
  .find-and-explore{
    height: auto;
    padding: 35px 0;
  }
  .devise{
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .header-user .want-sell-buy{
    float: none;
    padding-right: 0;
    margin-right: 0;
    &:before{
      left: 8px;
      -ms-transform: rotate(160deg);
      -webkit-transform: rotate(160deg);
      transform: rotate(160deg);
      bottom: -15px;
      top: auto;
    }
  }
  .tabs li{
    margin: 0 0.5% 5px;
    width: 32.33%;
    a.btn{
      display: block;
      font-size: 12px;
    }
  }
  .admin-tabs{
    margin-bottom: 0;
    li{
      width: 100%;
      margin: 0 0 5px 0;
    }
  }
  .tabs li:last-child{
    margin-right: 0.5%;
  }
  .products{
    margin: 20px 5px -12px;
  }
  .vp-carousel .carousel-inner>.item, .vp-carousel .carousel-inner>.item>img, .vp-carousel .carousel-inner>.item>a>img, .vp-carousel .carousel-inner, .vp-carousel{
    height: auto;
    max-width: 100%;
  }
  .actions-panel-product{
    height: auto;
    padding: 20px 0;
    h1{
      position: static;
    }
    h4{
      margin-top: 0;
      margin-bottom: 10px;
    }
  }
  .footer-actions{
    padding-bottom: 0;
    .fa-container{
      position: static;
      height: auto;
    }
  }
  .mailers {
    > .fa {
      top: 48%;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    .mtitle-users{
      margin-top: 50px;
    }
    ul.list-container{
      margin: 0 0 20px;
    }
  }
}

@media (max-width:480px) {
  .buy-sell h2{
    font-size: 46px;
  }
  .product, .product-carousel .product, .view-product .product-carousel .product{
    width: 100%;
  }
  .products .product{
    width: 85%;
  }
  .product-carousel .carousel-inner, .view-product .product-carousel .carousel-inner{
    margin: 0 30px;
  }
  .carousel-control.left, .view-product .product-carousel .carousel-control.left{
    left: 0;
  }
  .carousel-control.right, .view-product .product-carousel .carousel-control.right{
    right: 0;
  }
  .carousel-product-title .actions{
    position: relative;
    top: 0;
    display: block;
    margin-top: 10px;
  }
  .carousel-product-title .ui-selectmenu-button{
    margin-left: 0;
  }
  .products{
    margin: 10px -15px -12px;
    &.all_products{
      display: block;
      float: none;
    }
  }
  .result-action {
    padding: 15px;
    .act{
      width: 100% !important;
      margin: 5px 0;
    }
  }
  .search-result .product-list .desc{
    clear: both;
  }
  .find-and-explore .ui-selectmenu-button{
    float: none;
    display: block;
    margin: 0;
    border-right: none;
    border-bottom: 2px solid #cccfd3;
    background: #f5f5f5;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 100% !important;
  }
  .fe-search{
    height: auto;
    box-shadow: none;
    .related_searches{
      margin: 0;
      padding: 5px;
      background: #f5f5f5;
      text-shadow: none;
      -webkit-border-bottom-right-radius: 3px;
      -moz-border-radius-bottomright: 3px;
      border-bottom-right-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      -moz-border-radius-bottomleft: 3px;
      border-bottom-left-radius: 3px;
      h4, a{
        color: #555;
      }
    }
    .query-container{
      margin-left: 5px;
      margin-right: 50px;
    }
    .fe-btn.btn-warning{
      background: #ff8724 image-url("search-icon.png") no-repeat center center;
      background-size: 32px 32px;
      text-indent: -2000px;
      overflow: hidden;
      width: 50px;
      margin: 0;
      border-radius: 0;
      -webkit-border-bottom-right-radius: 3px;
      -moz-border-radius-bottomright: 3px;
      border-bottom-right-radius: 3px;
      border-left: 1px solid #DC7017;
      &:hover{
        background-color: #7a4124;
      }
    }
  }
  .vp-seller .img{
    width: 100px;
    height: 100px;
    img{
      width: 100%;
      height: auto;
    }
  }
  .offer-item > label{
    margin-top: 0;
  }
  .product-form .price-stock{
    .unit, .amount-stock, .amount-soldout{
      width: 100%;
      margin-right: 0;
      input{
        width: 100%;
      }
    }
  }
  .product-form .pricebreaks,
  .product-form .inspectiondates{
    margin: 0;
    li{
      margin-left: 0;
      float: none;
      width: 100%;
      height: auto;
      padding: 10px;
      margin-bottom: 10px;
    }
    .pricebreak,
    .inspectiondate{
      position: relative;
      .btn.remove{
        position: absolute;
        right: 10px;
        top: 10px;
        margin: 0;
      }
    }
    .index{
      margin: 0;
      float: none;
    }
    .form-group{
      float: none;
      width: auto;
      margin: 0;
    }
  }
  .product-form .dimensions-fields > div{
    width: 100%;
    padding: 0;
  }
  .product-form .estimates{
    margin: 0;
    li{
      margin: 0 0 10px 0;
      padding: 10px;
      height: auto;
    }
    .estimate, .estimate-delete{
      position: relative;
      .btn.remove{
        margin: 0;
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
    .index{
      float: none;
      margin: 0;
    }
    .estimate-type, .estimate-cost, .estimate-description{
      float: none;
      width: 100%;
      margin: 0;
    }
  }
}
