@import "compass/css3";
@import "bootstrap";
@import "font-awesome";

@import "common/variables";
@import "common/mixins";
@import "common/fonts";
@import "common/normalize";
@import "common/helpers";
@import "common/basic";
@import "common/footer";
@import "common/typeahead";
@import "common/forms";
@import "common/checkboxes";
@import "common/tabs";
@import "common/tables";
@import "common/labels";
@import "common/modals";
@import "common/price_labels";
@import "common/links";
@import "common/buttons";
@import "common/paginations";
@import "common/footer_actions";
@import "common/error_explanation";
@import "common/selectize";
@import "common/devise";
@import "common/intl_tel_input";

@import "common/header";
@import "admin/tables";
@import "admin/notice";

@import "admin/page_categories";
@import "admin/page_mailers";
@import "admin/page_taxes";
@import "admin/page_users";

@import "toad/products";
@import "toad/sellers";
@import "toad/carousel";
@import "toad/slider";
@import "toad/actions_panel_product";
@import "toad/time_left";
@import "toad/custom_select";
@import "toad/find_and_explore";
@import "toad/page_view_product";

@import "common/responsive";









.wrap, .wrap-sm{ margin:0px auto;}
.admin_dashboard > .wrap-sm{ padding-top:160px;}
.admin_dashboard > .admin-tabs + .wrap-sm{ margin-left:15%; }
.admin_dashboard > .wrap-sm, form > .wrap-sm{ max-width:inherit; width:auto; float:none;  }
.copy{ left:0px;}
 form > .wrap-sm{ padding-top:0px;}
.footer .logo{ left:0px;}
.footer-actions .wrap-sm{ padding-top:0px; width:100%; max-width:100%;}
.footer-actions .wrap-sm.text-center{ text-align:right !important; }
.admin-tabs .wrap-sm, .tabs .wrap-sm{ width:100%; padding-top:0px;}
.tabs, .admin-tabs{ top:0px !important;}
.tabs ul, .admin-tabs ul{ margin-top:110px;}
.tabs li a, .admin-tabs li a{ padding:10px;}  
.footer .wrap, .header .wrap{ max-width:100%;}
form .wrap-sm.mailers{ 
 padding-top:225px;
 margin-left:0px;
 }
 .new_fee{ padding-top:15px;}


 @media only screen and (max-width:1080px) {
   .header-nav a{ font-size:13px;}
   .header .logo{ height:100px; width:180px;}	
   .header .logo img{ max-width:100%;}	
   .admin_dashboard > .wrap-sm{ padding-top:130px;}
   .header-user .btn-success{ padding:7px 7px 5px; font-size:12px;}
   .header-nav li{ margin-left:10px;}
  .tabs, .admin-tabs{ width:180px;}
  .admin_dashboard > .admin-tabs + .wrap-sm{ margin-left:180px;}
  }
@media only screen and (max-width:854px) {
  .header .logo{ width:140px; height:75px;}	
  .header-nav a{ text-transform:capitalize;}
  .table th{ font-size:11px;}
  }
@media only screen and (max-width:767px) {
 .footer{ position:absolute;}
 body{ padding-bottom:152px;}
 .footer .logo{ top:0px; height:32px; margin:23px auto 5px auto;}
 .tabs, .admin-tabs, .admin-tabs{ position:inherit; width:100%; display:inline-block; border-bottom:1px solid #ddd;}
 .admin_dashboard > .admin-tabs + .wrap-sm, form > .wrap-sm{ display:inline-block; margin-left:0px; width:100%;}
 .admin_dashboard > .wrap-sm{ padding-top:80px; }
 .footer-actions .fa-container{ padding-left:0px;}
 .tabs ul, .admin-tabs ul, .admin-tabs ul{ margin-top:80px;} 
 .header .header-nav{ width:100%; margin:0px !important; padding:0px;}
 .header .header-nav li{ width:100%;}
 .header .header-nav li{ margin-left:0px;}
 .header .header-nav a{ border-bottom:1px solid #ddd;  display:block; padding:7px 15px; 
 text-transform:uppercase; box-sizing:border-box;}
 .admin_dashboard .header .header-nav{ display:inherit;}
 .header .header-nav a.active, .header .header-nav a:hover{ color:#FFF; background-color:#000;}
 .admin_dashboard .header-user{ position:absolute; bottom:0px; left:0px; text-align:left;}
 .navbar-default .navbar-collapse{ padding:30px 0px 53px; border-bottom:2px solid #ddd;}
 .header-user .btn-success{ width:auto !important; margin:13px !important; }
 .admin_dashboard > .admin-tabs + .wrap-sm{ padding-top:20px;} 
  }  