// *= require commontator/application
// *= require chosen

@import "compass/css3";
@import 'bootstrap-sprockets';
@import "bootstrap";
@import "font-awesome";

@import "jquery.bxslider";
@import "chosen";

@import "common/variables";
@import "common/mixins";
@import "common/fonts";
@import "common/normalize";
@import "common/helpers";
@import "common/basic";
@import "common/header";
@import "common/footer";
@import "common/typeahead";
@import "common/forms";
@import "common/checkboxes";
@import "common/tabs";
@import "common/tables";
@import "common/labels";
@import "common/modals";
@import "common/price_labels";
@import "common/links";
@import "common/buttons";
@import "common/paginations";
@import "common/footer_actions";
@import "common/error_explanation";
@import "common/selectize";
@import "common/devise";
@import "common/intl_tel_input";
@import "common/related_searches";
@import "common/spacers";
@import "common/chosen_select";

@import "toad/products";
@import "toad/sellers";
@import "toad/carousel";
@import "toad/slider";
@import "toad/actions_panel_product";
@import "toad/time_left";
@import "toad/custom_select";
@import "toad/find_and_explore";

@import "toad/page_main";
@import "toad/page_infos";
@import "toad/page_result";
@import "toad/page_dashboard";
@import "toad/page_view_product";
@import "toad/comment_styled";
@import "toad/page_checkout";
@import 'bootstrap-datetimepicker';

@import "common/responsive";

.modal{
  z-index: 9999;
}

.search-tooltip {
  background-color: white;
  opacity: 0.8;
  padding: 8px;
  position: absolute;
  z-index: 9999;
  max-width: 300px;
  -webkit-box-shadow: 0 0 5px #aaa;
  box-shadow: 0 0 5px #aaa;
  border-radius: 3px;
}

.ui-menu {
	opacity: 1.0;
	background-color: white;
	border: 2px solid black;
	list-style: none;
	cursor: pointer;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 1;
}
body
{
  background:#fff !important;
}
.ui-state-focus {
	outline: 1px solid #999999;
	background: #dadada url("images/ui-bg_glass_75_dadada_1x400.png") 50% 50% repeat-x;
	font-weight: normal;
}

form .wrap-sm
{
  float:left !important;
  left:15% !important;
  padding-bottom: 5% !important;
}
.internalWrapper
{
  max-width: 1150px !important;
  width: 85%;
  float: left;
  left: 15%;
  padding-top: 1%;
}
.fa
{
  margin-right: 5px;
  font-size: 16px;
  position:relative;
  top: 1px;
}
.footer .header-nav a
{
  font-size:12px !important;
  border-bottom:none !important;
  font-weight:100 !important;
}
.footer .header-nav a:hover
{
    color:#ff8724 !important;
}
.header{
  width:100% !important;
  float:left !important;
  padding:0px !important;
  max-width:1540px !important;
  margin: 0;
}
.footer .wrap
{
  width:100% !important;
}
.header .wrap, .header .wrap-sm
{
  padding-top: 5px;
  padding-bottom: 5px;
  width: 80% !important;
  float: left;
}
.header .pull-right {
    float: left !important;
    width: 25%;

}
.fe-search
{
  width:47% ;
  float:left;
}
.fa-container .wrap-sm
{
  padding-top:0px;
}
.find-and-explore .wrap
{
  max-width:1540px !important;
}
.otherNotification
{
  margin-left: 30px !important;
}
.headerIcons
{
  color: #fff !important;
  float: left;
  margin-left: 20px;
  position: relative;
  top: 15px;
}
.headerIcons:hover{
  cursor:pointer;

}
.find-and-explore .ui-selectmenu-button
{
  border-right:1px solid #ddd;
}
.tabs .profile-user-image {
  border-radius: 4px;
  height: 50px;
  width: 50px;
  margin-bottom: 5px;
  position:relative;
  border: 0px;
  margin-left:10%;
}
.bx-loading
{
  display:none;
}
.notificationCount
{
  border-radius: 20px;
  color: #fff;
  background: #ea5656;
  padding: 3px 8px;
  position: absolute;
  left: 10px;
  top: -10px;
}
.sellBtn,.acceptBtn,.DeclineBtn,.invitedBtn
{
  margin-left: 15px;
  border: 1px;
  border-radius: 5px;
  color: #fff !important;
  background: $color-curious-blue;
  padding: 8px 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  margin-right: 10px;
  float: left;
  position: relative;
  top: 1px;
  text-decoration: none !important;
}
.loginBtn
{
  color: #fff !important;
  background: $color-curious-blue !important;
  border:2px $color-curious-blue solid !important;
  position:relative;
  top:3px;
  font-size:16px;
}
.registerBtn
{
  position:relative;
  top:3px;
  margin-right: -65px;
}

.createGroupHeading {
  float: left;
}

.create-group-wrapper {
  text-align:center !important;
  float: right;
  margin-top: 5px;
}

.createGroupBtn {
  padding: 5px 13px 3px 13px;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  background: $color-curious-blue;
  color: #fff !important;
  border-radius: 5px;
  border: 1px;
  margin-right: 10px;
}

.invitedBtn
{
  background: $color-chestnut-rose;
  padding: 4px 7px;
  font-size: 10px;
  margin-left: 0px;
  margin-right: 0px;
}
.acceptBtn
{
  background:#21a857;
  padding: 4px 7px;
  font-size:10px;
  margin-left:0px;
  margin-right:0px;
}
.DeclineBtn
{
  background:#424242;
  padding: 4px 7px;
  font-size:10px;
  margin-left:5px;
  margin-right:0px;
}
.acceptBtn:hover
{
  color:#fff !important;
}
.DeclineBtn:hover
{
  color:#fff !important;
}
.fe-search .btn-warning
{
  position: relative;
  top: -1px;
  left: 1px;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
  background: $color-curious-blue;
  background-size: 22px 22px !important;
  border-bottom: none !important;
  text-shadow: none !important;
}
.peopleInviteIcon,.logoutIcon
{
  float:left;
  width:7% !important;
  position:relative;
  top:17px;
  margin-left:25px;
  cursor:pointer;
  z-index: 999999999999999;
}
.peopleInviteIcon img
{
  width:100%;
  float:left;
}
.logoutIcon
{
  width: 6% !important;
padding: 5px 0px 5px 10px;
margin-left: 20px;
cursor: pointer;
border-left: 1px #787b7e solid;
position: relative;
top: 18px;
}
.logoutIcon img
{
  width:100%;
  float:left;
}

.InvitePpl {
  position: relative;
  top: 2%;
  display: none;

  .topArrowIcon {
    position: absolute;
    margin-left: -32.7%;
    margin-top: 6.6%;
    height:0px;

    .fa-caret-up {
      font-size: 39px;
      color: #f2f2f2;
      position: relative;
      z-index: 999999999;
    }
  }
}

#invitePplList {
  position: absolute;
  width: 400px;
  height: 265px;
  overflow-x: hidden;
  background: #f2f2f2;
  border-radius: 5px;
  z-index: 99999999;
  padding: 10px;
  margin-left: -25%;
  margin-top: 15%;
  -webkit-box-shadow: 1px 1px 4px 1px rgba(51,51,51,0.49);
  -moz-box-shadow: 1px 1px 4px 1px rgba(51,51,51,0.49);
  box-shadow: 1px 1px 4px 1px rgba(51,51,51,0.49);

  .headingList {
    padding-bottom: 30px !important;
  }

  li {
    list-style: none;
    float: left;
    width: 100%;
    border-bottom: 1px #ddd solid;
    text-align: left;
    padding-bottom: 5px;
    margin-bottom: 7px;

    .userPic {
      width: 10%;
      float: left;

      img {
        width: 100%;
        float: left;
        border: 1px #ddd solid;
        border-radius: 5px;
      }
    }

    .userDetails {
      float: left;
      margin-left: 5px;
      max-width: 57%;

      white-space: -moz-pre-wrap !important;
      white-space: -pre-wrap;
      white-space: -o-pre-wrap;
      white-space: pre-wrap;
      word-wrap: break-word;
      white-space: -webkit-pre-wrap;
      word-break: break-all;
      white-space: normal;

      .userName {
        width: 100%;
        font-size: 14px;
        font-weight: bold;
      }

      .userdetails {
        width: 100%;
        font-size: 11px;
        color: #7d7d7d;
      }
    }

    .userAction {
      float: right;
      margin: 7px 10px 0 5px;
    }
  }
}

.headingList
{
  font-weight:bold;
  font-size:11px;
  color:#333;
  text-transform:uppercase;
  border-bottom: 0px !important;
}
.headingList span
{
  position:relative;
  top:5px;
}

.logOutOptions {
  position: relative;
  top: 2%;
  display: none;

  .logOutTopArrowIcon {
    position: absolute;
    margin-left: -18.3%;
    margin-top: 6.6%;
    height: 0px;

    .fa-caret-up {
      font-size: 39px;
      color: #f2f2f2;
      position: relative;
      z-index: 999999999;
    }
  }
}

#logOutOptionsList {
  position: absolute;
  width: 180px;
  height: 140px;
  overflow-x: hidden;
  background: #f2f2f2;
  border-radius: 5px;
  z-index: 99999999;
  padding: 10px;
  margin-left: 45%;
  margin-top: 15%;
  -webkit-box-shadow: 1px 1px 4px 1px rgba(51,51,51,0.49);
  -moz-box-shadow: 1px 1px 4px 1px rgba(51,51,51,0.49);
  box-shadow: 1px 1px 4px 1px rgba(51,51,51,0.49);

  li {
    list-style: none;
    float:left;
    width:100%;
    border-bottom:1px #ddd solid;
    text-align: left;
    padding-bottom:5px;
    margin-bottom: 7px;

    a {
      color:#333 !important;
      display:block;
    }
  }

  li:last-child {
    border-bottom: none;
    margin-bottom: 3px;
  }
}

.tabs ul li a .fa-briefcase
{
  color:#21a857 !important;
}
.tabs ul li a .fa-cubes
{
  color:#ed7692 !important;
}
.tabs ul li a .fa-users
{
  color:#a09476 !important;
}
.tabs ul li a .fa-truck
{
  color:#ee7c1f !important;
}
.tabs ul li a .fa-money
{
  color:#50096b !important;
}
.tabs ul li a .fa-th-large
{
  color:#4a93da !important;
}
.form-control, .selectize-input
{
  box-shadow: none !important;
  border:1px #ddd solid !important;
}
.btn-success,.btn-default
{
  border-bottom-color: $color-curious-blue !important;
  border-top-color: $color-curious-blue !important;
  padding: 7px 13px 5px !important;
  background: $color-curious-blue !important;
  text-shadow:none !important;
  border:none !important;
  color:#fff !important;
}
.carousel-product-title
{
  width:100%;
}
.carousel-product-title h3
{
    border-bottom: 2px solid #ccc;
}
.carousel-product-title .actions .ui-selectmenu-button::before
{
    border-bottom: 2px solid #ccc;
}
.buy-sell h2
{
  border-bottom: 2px solid #ccc !important;
}
#profilePicRow
{
  margin-bottom:10px;
}
#profilePicRow .userPic
{
  width: 30%;
  float: left;
  margin-left: 4%;
}
#profilePicRow .userPic img
{
  width:100%;
  float:left;
  border:1px #ddd solid;
  border-radius:5px;
}
#profilePicRow .userDetails
{
  width:64%;
  float:left;
  margin-left: 0%;
}
#profilePicRow .userDetails .userName
{
  width:100%;
  float:left;
  font-size: 16px;
  position: relative;
  top: 10px;
}
#profilePicRow .userDetails .editProfile
{
  width: 100%;
  float: left;
  font-size: 9px !important;
  color: #6299BC !important;
  position: relative;
  left: -18px;
  top: -2px;
  text-transform: uppercase !important;
}
.table-options table tr td a
{
  margin-left: 5px !important;
}
.headerFixed{
  background: white;
  float:left;
  width:100%;
  z-index:999;
  position: fixed;
  top:0;
}
.footer-actions .fa-container .wrap-sm
{
  margin-top:0% !important;
}
.table th
{
  font-weight:100 !important;
  font-size:13px !important;
}
.label
{
  font-size: 10px !important;
  padding: 5px 10px 5px !important;
  font-weight:100 !important;
  border-radius:10px !important;
}
.carousel-content h1
{
  text-shadow: -1px -1px 9px rgba(0, 0, 0, 0.7) !important;
}
.carousel-content p
{
  text-shadow: -1px -1px 4px rgba(0, 0, 0, 0.9) !important;
  font-size: 18px;
  font-weight:100;
}
.miniDashboard
{
  width:100%;
  padding:10px 0px;
  background:#1F2E34;
  margin: 2% 0px 1%;
}
.subSection
{
  width:25%;
  float:left;
  text-align:center;
  padding:0px 2%;
  border-right:1px #334248 solid;
}
.subSectionCount
{
  font-size:40px;
  color:#fff;
  font-weight:bold;
}
.subsectionDetail
{
  font-size: 11px !important;
}
.productViewCount
{
  color:#FF8401 !important;
}
.subsectionDetail
{
  font-size:13px;
  color:#fff;
  position:relative;
  top: -9px;
  margin-left: 3%;
  text-transform:uppercase;
}
.ui-menu
{
  min-width:150px !important
}
.label-red
{
  background: #d8505d;
}
.label-green
{
  background: #14ba62;
}
.label-orange
{
  background: #f07d0c;
}
.registrationArea
{
  background: rgba(255,255,255,0.9);
  padding:15px 30px;
  border-radius:5px;
  -webkit-box-shadow: 1px 1px 4px 1px rgba(51,51,51,0.49);
-moz-box-shadow: 1px 1px 4px 1px rgba(51,51,51,0.49);
box-shadow: 1px 1px 4px 1px rgba(51,51,51,0.49);
top:105px;
min-width:550px;
}
.registrationArea form label
{
  float:left;
   width:35%;
   position:relative;
   top:25px;
}
.registrationArea form input[type="text"]
{
   padding:7px 15px;
   height:55px;
   float:left;
   width:65%;
}
.registrationArea form input[type="password"]
{
  padding:7px 15px;
  height:55px;
   float:left;
   width:65%;
}
.registrationArea form input[type="email"]
{
  padding:7px 15px;
  height:55px;
   float:left;
   width:65%;
}
.registrationArea .icheckbox
{
  width:4%;
  float:left;
  margin-left:35%;
}
.forgotPasswordLink
{
  margin-left:35%;
  position:relative;
  top:10px;
}
.signUpBtnRegister
{
  margin-left:35%;
  border-radius: 5px;
  color: #fff !important;
  background: $color-curious-blue;
  padding: 8px 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  border:none !important;

}
.signInBtn
{
  margin-left:3%;
  border:none !important;
  border-radius: 5px;
  color: #fff !important;
  background: $color-curious-blue;
  padding: 8px 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}
.signInBtn:hover
{
  background: $color-curious-blue;
  border:none !important;
}
.signUpBtnRegister:hover
{
  background: $color-curious-blue;
  border:none !important;
}
.registrationArea form div
{
  float:left;
  width:100%;
  margin-bottom:15px;
}
.registrationArea h2
{
  text-align:center;
  font-size:32px;
  border-bottom:1px #ddd solid;
  padding-bottom:7px;
}
.registrationArea .rememberMeLabelWrapper label
{
  top:0px;
}
.errorMessageWrapper
{
  width:100%;
  float:left;
}
.errorMessage
{
  padding:5px 5px;
  text-align:center;
  background:#e15b5b;
  color:#fff !important;
  border-radius:5px;
}
#error_explanation
{
  padding:5px 5px 2px;
  text-align:center;
  background:#e15b5b;
  border-radius:5px;
  margin-bottom: 20px;
}
#error_explanation h2
{
  color:#fff !important;
  border-bottom:none !important;
  padding-top:7px !important;
  margin-bottom: 10px;
}
#error_explanation ul li
{
  color:#fff !important;
  text-align: left;
}
.copy span
{
  color:$color-curious-blue !important;
}
#cat_id-button .ui-icon-triangle-1-s
{
  position:relative;
  top:-3px;
}
.actions .ui-selectmenu-button
{
  margin-top: -10px !important;
}
.actions span.ui-selectmenu-text
{
  top:-5px;
}
.carousel-product-title .actions .ui-icon
{
  top:14px !important;
}
.green_border
{
  border:3px solid $color-curious-blue !important;
}
.product .cost span
{
  color:$color-curious-blue !important;
}

.few .brands-logo
{
  margin-bottom:100px;
}
.few .brands-logo a
{
  margin-bottom:20px;
  display:block;
}

.pagination
{
  margin:0px;
}
.show-all
{
  float:right !important;
  position:relative !important;
}
.go-to-groups-page {
  padding: 9px 0px !important;
  border-bottom: none !important;
  margin-top: 150px;
  background: #f2f2f2;
  border-top: 1px #ccc dashed;
  text-align: center;
}
#new_group .wrap-sm
{
  margin-top:0px !important;
  padding-top:0px !important;
}
#new_product .wrap-sm
{
  margin-top:0px !important;
  padding-top:0px !important;
}
.product-form .pricebreaks li .offer-date, .product-form .inspectiondates li .offer-date, .product-form .sellergroups li .offer-date, .group-form .pricebreaks li .offer-date, .group-form .inspectiondates li .offer-date, .group-form .sellergroups li .offer-date
{
  width:221px !important;
}
.product-form .inspectiondate .offer-item .remove, .group-form .inspectiondate .offer-item .remove
{
  margin-left:3px !important;
}
.product-form .estimates li, .group-form .estimates li
{
  width:97% !important;
}
.offer-item .offer-date
{
  width:250px !important;
}
.product-form .estimate .estimate-cost, .group-form .estimate .estimate-cost
{
  width:8%;
}
.product-form .estimate .estimate-description, .group-form .estimate .estimate-description
{
  width:67%;
}

.wrap-full{
  margin: 0px auto;
  width: 90%;
}

.my-profile-search-page{
  top: 60px;
  z-index: 10;
}
.my-profile-open-link{
  left: 0px;
  width: 15px;
  position: fixed;
  top: 201px;
  word-wrap: break-word;
  font-family: monospace;
  cursor: pointer;
  color: white;
  padding-left: 2px;
  background-color: $color-curious-blue;
}
.close-collapse{
  float: right;
  display: none;
  cursor: pointer;
}

.leaveGroup {
  font-size: 8px !important;
  padding: 5px !important;
  font-weight: 900 !important;
  border-radius: 7px !important;
}

.leftAlign {
  text-align: left !important;
}

.rightAlign {
  text-align: right !important;
}

.orderDetails {
  margin-bottom: 0;

  .table {
    margin-bottom: 0;
  }
}

.table-checkout {
  &.invoiceCheckout {
    margin: 0;
    margin-top: 10px;

    thead {
      th {
        padding-left: 6px;
        padding-right: 6px;
      }
    }
  }
}
