// *= require commontator/application

@import "compass/css3";
@import "bootstrap";
@import "font-awesome";

@import "jquery.bxslider";

@import "common/variables";
@import "common/mixins";
@import "common/fonts";
@import "common/normalize";
@import "common/helpers";
@import "common/basic";
@import "common/header";
@import "common/footer";
@import "common/typeahead";
@import "common/forms";
@import "common/checkboxes";
@import "common/tabs";
@import "common/tables";
@import "common/labels";
@import "common/modals";
@import "common/price_labels";
@import "common/links";
@import "common/buttons";
@import "common/paginations";
@import "common/footer_actions";
@import "common/error_explanation";
@import "common/selectize";
@import "common/devise";
@import "common/intl_tel_input";
@import "common/related_searches";
@import "common/spacers";

@import "toad/products";
@import "toad/sellers";
@import "toad/carousel";
@import "toad/slider";
@import "toad/actions_panel_product";
@import "toad/time_left";
@import "toad/custom_select";
@import "toad/find_and_explore";

@import "toad/page_main";
@import "toad/page_infos";
@import "toad/page_result";
@import "toad/page_dashboard";
@import "toad/page_view_product";
@import "toad/comment_styled";
@import "toad/page_checkout";

@import "common/responsive";

.modal{
  z-index: 9999;
}

.search-tooltip {
  background-color: white;
  opacity: 0.8;
  padding: 8px;
  position: absolute;
  z-index: 9999;
  max-width: 300px;
  -webkit-box-shadow: 0 0 5px #aaa;
  box-shadow: 0 0 5px #aaa;
  border-radius: 3px;
}

.ui-menu {
	opacity: 1.0;
	background-color: white;
	border: 2px solid black;
	list-style: none;
	cursor: pointer;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 1;
}

.ui-state-focus {
	outline: 1px solid #999999;
	background: #dadada url("images/ui-bg_glass_75_dadada_1x400.png") 50% 50% repeat-x;
	font-weight: normal;
}
