<p>Dear Customer,</p>

<p>Thank you signing up for Toad!<br />
Once you have confirmed your account, you will have full access to your control panel. All notifications will be sent to this email address.<br />
Please confirm your address by clicking the link below.</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
