<p>Dear Customer,</p>

<p>Thanks for signing up to Toadlane!<br />
Once you have confirmed your account, you will have full access to your profile. All notifications will be sent to this email address.<br />
Please confirm your address by clicking the link below.</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
<p>Confused on how to purchase?</p>
<p> Click <a href="http://toadchat.blogspot.com/2015/05/how-to-purchase-iphones-on-toadlanecom.html?m=1">here</a> to see how to purchase on Toadlane.com!</p>