.admin-tabs: .wrap-sm
  ul
    li= tab_link_to 'User Communications', admin_users_communications_path, is: 'communications'
    li= tab_link_to 'User Management', admin_users_managements_path, is: 'managements'