@media (max-width:767px) {
  .login-form{
    display: none;
  }
  .btn-signin{
    display: block;
  }
  .content{
    display: none;
  }
  body{
    padding-bottom: 0;
    overflow-x: hidden;
  }
  .navbar-toggle{
    margin: 0;
  }
  .header{
    height: auto;
    .wrap, .wrap-sm{
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .logo{
      width: 150px;
      height: auto;
      margin-left: 0;
      top: 0;
      img{
        width: 100%;
      }
    }
  }
  .navbar-default .navbar-collapse{
    position: absolute;
    top: 54px;
    z-index: 1000;
    background: #f5f5f5;
    width: 100%;
    left: 0;
    padding: 0;
  }
  .header-nav.pull-left{
    float: right !important;
  }
  .header-user{
    margin: 0px -18% 20px 3% !important;
    width: 100%;
    margin: 20px 0;
    a.btn {
      width: 45%;
      margin: 2%;
    }
  }
  .admin_dashboard {
    .header-user{
      margin-bottom: 0;
    }
    .header .header-nav{
      float: none !important;
      display: inline-block;
      clear: both;
      margin: 0 10px 5px;
    }
  }
  .buy-sell .wrap div, .buy-sell .wrap-sm div{
    width: 90%;
    margin: 7% 5% !important;
  }
  .buy-sell{
    background-image: image-url('buy-sell-horizontal.png');
  }
  .few img{
    margin-bottom: 10px;
  }
  .footer{
    position: relative;
    .pull-left, .pull-right{
      float: none !important;
      text-align: center;
    }
    .header-nav li{
      float: none;
      display: inline-block;
    }
    .logo{
      position: static;
      display: block;
      margin: 10px auto;
    }
    .copy{
      text-align: center;
    }
    .inner{
      width: 100%;
    }
  }
  .find-and-explore{
    height: auto;
    padding: 35px 0;
  }
  .devise{
    margin-bottom: 20px;

    h2{
      text-align: center;
    }
  }
  .header-user .want-sell-buy{
    float: none;
    padding-right: 0;
    margin-right: 0;
    &:before{
      left: 8px;
      -ms-transform: rotate(160deg);
      -webkit-transform: rotate(160deg);
      transform: rotate(160deg);
      bottom: -15px;
      top: auto;
    }
  }
  .tabs li{
    margin: 0 0.5% 5px;
    width: 32.33%;
    a.btn{
      display: block;
      font-size: 12px;
      &:last-child{
        padding-left: 3px;
      }
    }
  }
  .admin-tabs{
    margin-bottom: 0;
    li{
      width: 100%;
      margin: 0 0 5px 0;
    }
  }
  .tabs li:last-child{
    margin-right: 0.5%;
  }
  .products{
    margin: 20px 5px -12px;
  }
  .vp-carousel .carousel-inner>.item, .vp-carousel .carousel-inner>.item>img, .vp-carousel .carousel-inner>.item>a>img, .vp-carousel .carousel-inner, .vp-carousel{
    height: auto;
    max-width: 100%;
  }
  .actions-panel-product{
    height: auto;
    h1{
      position: static;
    }
    h4{
      margin-top: 0;
      margin-bottom: 10px;
    }
  }
  .mailers {
    > .fa {
      top: 48%;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    .mtitle-users{
      margin-top: 50px;
    }
    ul.list-container{
      margin: 0 0 20px;
    }
  }
  header
  {
    margin-bottom:0px !important;
  }
  .find-and-explore
  {
    padding:10px 0px 0px;
    .fe-search {
      height: 38px;
      .btn-search{
        height: 38px;
      }
    }
  }
  .internalWrapper
  {
    float:none;
    margin-top:12%;
  }
  .fe-search,.header-user
  {
    width:95% !important;
    margin-left:2.5%;
    text-align: center !important;
  }
  .header-user .sellBtn
  {
    position: relative;
    top: 10px;
  }
  .header-user .requestBtn
  {
    margin-left: 0px;
    position: relative;
    top: 10px;
  }
  .header
  {
    width:100%;
    margin-bottom:10px !important;
    .logo-div{
      width: 100%;
      .logoSideNav
      {
        margin: 0 auto;
        position: relative;
        top: -3px;
        float: none !important;
      }
      .logoSideNav img
      {
        margin: 0 auto;
        width: 58px;
      }
    }
    .public-page-logo-div{
      width: 100%;
      .logoSideNav
      {
        margin: 0 auto;
        position: relative;
        top: -3px;
        float: none !important;
      }
      .logoSideNav img
      {
        margin: 0 auto;
      }
    }
  }
  .footer
  {
    float:left;
    width:100%;
    .logo{
      margin: 0 auto;
      width: 50%;
      img{
        margin-top: 15px;
      }
    }
  }
  .wrap-sm
  {
    width:100%;
    margin-top:0px !important;
    position:inherit;
    top:0% !important;
    margin-bottom:0px !important;
    padding:0 8px;
  }
  .tabs ul, .admin-tabs ul
  {
    margin-top: 0%;
  }
  .tabs ul li, .admin-tabs ul li
  {
    width:46%;
    min-height:58px;
  }
  #profilePicRow
  {
    margin-bottom:0px !important;
  }
  #profilePicRow .userPic
  {
    width:25% !important;
    margin-left:7% !important;
  }
  .internalWrapper
  {
    width:100% !important;
    left:0% !important;
    margin-top: 0%;
    padding-top:1%;
  }
  .miniDashboard .subSection
  {
    width:50%;
  }
  .header .pull-right
  {
    margin: 0px -18% 20px 3% !important;
  }
  .navbar-toggle
  {
    display:none;
  }
  .ui-selectmenu-button span.ui-selectmenu-text
  {
    top:0px !important;
    font-size:14px;
  }
  .fe-search .btn-warning
  {
      background: #2987D8 url(/assets/search-icon.png) no-repeat center center !important;
      border-left:none !important;
      top:1px !important;
  }
  .product-carousel
  {
    float:left;
    width:100%;
  }
  .subSectionCount
  {
    font-size:32px !important;
  }
  .carousel-product-title h3
  {
    width:100%;
    text-align: center;
    font-size:24px;
    border-bottom:1px solid #ccc;
  }
  .carousel-product-title .actions
  {
    float:right;
    width:100%;
  }
  .copy
  {
    left:0% !important;
  }

  .profile-table .col-md-3
  {
    margin-bottom:15px;
  }
  .profile-table .col-md-9 h4
  {
    margin-bottom:15px;
  }
  .label
  {
    font-size:11px !important;
    padding: 5px 7px 5px !important;
  }
  .selected-labels
  {
    margin-top:7px;
  }
  .table-options,.finances-table,.profile-table
  {
    margin-top:10px !important;
  }
  .ui-selectmenu-open
  {
    z-index:9999;
  }
  .logOutOptions .topArrowIcon
  {
    margin-top: 7.6% !important;
    margin-left: -11.1% !important;
  }
  .few,.main-buy,.main-sell
  {
    width:100% !important;
    float:left !important;
    margin: 0px;
  }
  .buy-sell
  {
    padding-top:0px !important;
  }
  .buy-sell .wrap div, .buy-sell .wrap-sm div, .buy-sell .wrap-sm div
  {
    margin-left:0px !important;
    margin-right:0px !important;
  }
  .main-buy
  {
    margin-bottom: 25px !important;
    margin-top:5px !important;
  }
  .main-sell
  {
    margin-top: 35% !important;
  }
  .registrationArea
  {
    min-width: 0px !important;
    top:-5px !important;
    width:100% !important;
    float:left !important;
    border-radius: 0px !important;
    margin: 0px !important;
  }
  .registrationArea form label
  {
    width:68% !important;
    top:0px !important;
  }
  .registrationArea form input[type="text"]
  {
    width:100% !important;
    height:45px !important;
  }
  .registrationArea form input[type="email"]
  {
    width:100% !important;
    height:45px !important;
  }
  .registrationArea form input[type="password"]
  {
    width:100% !important;
    height:45px !important;
  }
  .registrationArea .icheckbox
  {
    margin-left:0% !important;
    width:5.9% !important;
  }
  .signUpBtnRegister
  {
    margin-left:20% !important;
  }
  .forgotPasswordLink
  {
    margin-left: 28% !important;
  }
  .carousel-content h1
  {
    margin-top: 40px !important;
  }
  .carousel-inner,.carousel
  {
    height: 410px !important;
  }
  .carousel-product-title .actions .ui-selectmenu-button
  {
    margin-top: -8px !important;
  }

  .createGroupWrapper
  {
    margin-left: 57% !important;
  }
  .bx-wrapper
  {
    width:80% !important;
    margin:0px auto !important;
  }
  .bx-viewport
  {
    height:auto !important;
  }
  .bxslider
  {
    width:100% !important;
    float:left !important;
    transform:none !important;
    padding-left:0px !important;
  }
  .bxslider li
  {
    display: block !important;
    width: 100% !important;

  }
  .footer-actions .fa-container{
    position: unset;
    button{
      float: none !important;
      margin: 10px 10px 0 0;
    }
  }
  .devise{
    .btn-signup{
      width: 100%;
    }
    .btn-signin{
      margin: 13px 0 0;
    }
  }

  #products_first, #products_second{
    margin-top: 0;
  }
  .headerIcons{
    top: 18px !important;
  }
  .peopleInviteIcon{
    top: 19px !important;
  }
  .logoutIcon{
    top: 19px !important;
  }

  #invitePplList {
    width: auto !important;
    margin-left: 0px !important;

    li {
      .userDetails {
        width: 51% !important;
      }
    }
  }

  .InvitePpl {
    .topArrowIcon {
      margin-left: -16.7% !important;
      margin-top: 7.6% !important;
    }
  }
  #inspection_service_block{
    .item-count{
      margin: 0 0 0 7px !important;
    }
    .inspect-service-comment{
      left: 15px !important;
    }
    b{
      margin-top: 6px;
    }
  }
  .mobile{
    display: block;
  }
  .header-user {
    .messageNotification {
      margin-left: 2% !important;
    }
  }

  .header-user {
    .otherNotification, .peopleInviteIcon, .logoutIcon {
      margin-left: 4% !important;
    }
  }
}