@media (max-width: 800px) and (min-width: 769px) {
  .login-form{
    display: none;
  }
  .content{
    display: none;
  }
  .btn-signin{
    display: block;
  }
  #invitePplList, #logOutOptionsList {
    margin-top: 21% !important;
  }

  #invitePplList {
    margin-left: -95% !important;
  }

  .InvitePpl {
    .topArrowIcon {
      margin-left: -23.3% !important;
      margin-top: 8.6% !important;
    }
  }

  #logOutOptionsList {
    margin-left: 18% !important;
  }

  .logOutOptions {
    .logOutTopArrowIcon {
      margin-left: -9.3% !important;
      margin-top: 8.6% !important;
    }
  }

  .header-user {
    .messageNotification, .otherNotification, .peopleInviteIcon, .logoutIcon {
      margin-left: 5px !important;
    }

    .peopleInviteIcon, .logoutIcon {
      width: 18px !important;
    }
  }
}